.container{
    display:flex;
    height:90vh;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
    background: linear-gradient(180deg,#fce3fe, white); 
}
.header{
    display:flex;
    flex-direction:column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
}
.text{
    color:#ed82f5;
    font-size: 48px;
    font-weight:700;
}
.underline{
    position:relative;
    top:-5px;
    width:176px;
    height:6px;
    background:#ed82f5;
    border-radius:9px;
}
.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction:column;
    gap: 20px;
}
.input{
   display:flex;
   align-items:center;
   margin:auto;
   width:480px;
   height:80px;
   background:#eaeaea; 
   border-radius: 6px;
}
.input input{
    height:50px;
    width:400px;
    background:transparent;
    border:none;
    outline:none;
    color: #797979;
    font-size: 19px;
}
.icon{
    width:80px;
    font-size: 20px;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size:18px;
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer; 
}
.submits{
    display:flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color:#fff;
    background: #dc8cee;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
}
.submit:hover{
    background: hsl(286, 100%, 31%);
    transition: 0.3s;
    cursor:pointer;
}
.gray{
    background: #EAEAEA;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    color: #676767;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
}
.gray:hover{
    cursor:pointer;
    background: #b7b6b6;
    transition:0.3s;
}

@media(max-width:1280px){
    .container{
        padding-top:50px;
        width:1425px;
    }
    .header{
        width:auto;
        max-width:500px;
        max-height: 500px;
    }
    .text{
        margin:10px 0px;
    }
    .inputs{
        gap:20px;
        margin-top: 20px;
    }
    .input{
        height:65px;
        width:93%;
    }

}
@media(max-width:800px){
    .container{
        width:998px;
    }
}
@media(max-width:500px){
    .container{
        width:500px;
    }
}