.carticon-product-icon{
    width:55%;
    border:2px solid black;
    margin-left:0px;

}
.cartitems hr{
    height: 3px;
    background: #e2e2e2;
    border: 0;
}
.cartitems-format-main{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr; /* Add column for remove button */
    align-items: center;
    gap: 35px;
    padding: 20px 0px;
    color: #454545;
    font-size: 25px;
    font-weight: 600;
    margin-left: 15px;
}

.remove{
    cursor: pointer;
     /* Align it to the right in the grid */
}
.remove:hover{
    color:red;
    transition:0.3s 
}
.cartitems-format{
    font-size: 20px;
    font-weight: 500;
}
.carticon-product-icon{
    height: 92px;
}

.cartitems-quantity{
    width: 64px;
    height: 50px;
    border: 2px solid #ebebeb;
    background: #fff; 
}
.cartitems-down{
    display: flex;
    margin: 50px 0px;
    margin-bottom:-100px;
    margin-left: 100px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: #ff5a5a;
    color: #fff;
     font-size: 16px;
     font-weight: 600;
     cursor:pointer;
}
.cartitems-promocode{
        flex:1;
        font-size: 16px;
        font-weight: 500;
        margin-left:-70px;
}
.cartitems-promocode p{
    color: #555;
}
.cartitems-promobox{
    width: 504px;
    margin-top: 15px;
    padding-left: 20px;
    height: 58px;
    background: #eaeaea;
}
.cartitems-promobox input{
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 330px;
    height: 50px;
}
.cartitems-promobox button{
    width: 170px;
    height: 58px;
    font-size: 16px;
    background: black;
    color: white;
    cursor:pointer;
    margin-right:-400px;
}
@media(max-width:1280px){
    .cartitems{
        margin: 60px 50px;
    }
    .cartitems-format-main{
        grid-template-columns: 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.2fr; /* Include remove button */
        gap: 20px;
        padding: 15px 0px;
        font-size: 15px;
    }
    .carticon-product-icon{
        height: 50px;
    }
    .remove {
        justify-self: end;
    }
}

@media(max-width:500px){
    .cartitems-format-main{
        display: grid;
        grid-template-columns: 0.5fr 3fr 0.5fr; /* Remove button included */
        gap: 10px;
    }
    .cartitems-format{
        display: grid;
    }
    .remove {
        justify-self: end;
    }
}
