.navbar{
    display: flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow: 0 1px 3px -2px black;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(255, 253, 253, 0.473); /* Slightly transparent */
    backdrop-filter: blur(50px); /* Apply blur */
    
}
.nav-logo{
    display:flex;
    align-items: center;
    gap:10px;
}
.nav-logo p{
 color: #171717;
 font-size: 38px;
 font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    position:relative;
    right:-5em;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
    
}
.nav-menu li{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    font-family: monospace;
}



.nav-cart-count{
    width: 19px;
    height: 9px;
    display:flex;
    font-family: monospace;
    align-items: center;
    margin-top: -41px;
    margin-left: 300px;
    border-radius: 5px;
    font-size: 20px;
    position:relative;
    right:-7.5px;
    top:-22px;
    
    color:white; 
    z-index:1;
    font-size:14px;


}

.logo{
    position:relative;
    left:285px;
    top:-2px;
    cursor:pointer;
    height:50px;
    width:50px;
    
}

.logo:hover{
    transform: scale(1.05);
    transition: all 0.3s;
     border-radius:15%;
     color: black;
}

.logo:active{
    transform: scale(0.9);
    transition: all 0.3s;
     border-radius:15%;
     color: black;
}

li:hover{
    transform: scale(1.1);
    text-decoration: underline;
    transition: all 0.2s;
    color:#171717;
}
li:active{
    transform: scale(0.9);
    text-decoration: underline;
    transition: all 0.2s;
    color:#171717;
}
a{
    color:#7a7a7a
}
a:hover{
    color:#171717;
}

.button{
    width:0px;
    position:relative;
    top:1px;
    right:-230px;
    color:black; 
}
.sign{
    border-radius: 5px;
    width: 150px;
    height: 35px;
    padding:5px;
    font-size:20px;
    font-family:monospace;
}
.sign:hover{
    color:whitesmoke;
    background-color:#171717;
    transition: all 0.2s;
    transform:scale(1);
    cursor:pointer;
}
.sign:active{
    color:whitesmoke;
    background-color:#171717;
    transition: all 0.2s;
    transform:scale(0.8);
}
h4{
    position:relative;
    top:5px;
}
.circle{
    position:relative;
    right:-303px;
    top:-35px;
    font-size:18px;
}

.slidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    color: white;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  
  .sidebar.open {
    transform: translateX(0);
  }
  
  .toggle-btn {
    position: absolute;
    top: 10px;
    right: -60px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  
  .menu a {
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s;
  }
  
  .menu a:hover {
    background-color: #444;
  }

  @media(max-width:400px){
    .navbar{
        width:100%;
        position:sticky;
        top:0;

     .nav-logo{
        width:2em;
        margin-left:1em;
        
     }   
     .logo-head{
        font-size:14px;
        margin-left:-0.5em;
     }

     .nav-menu{
        display:none;
     }
     .button{
        margin-top:-3em;
        margin-left:-3em;
        position: relative;
        left:7em;
        top:1.5em;
        z-index:20;

     }
     .sign{
        width:max-content;
        font-size:14px;
     }
     .nav-logo-cart{
        margin-left:-7em;
        margin-top:-1em;
        position:relative;
        top:0.5em;

        .logo{
            width:2.5em;
        }
        .nav-cart-count{
            font-size:13px;
            color:#fff;
            position:relative;
            left:0em;
            top:-1em;
        }
        .circle{
        width:15px;
        margin-top:0.1em;
        position: relative;
        right:-16.45em;
        top:-28.4px;

        
        
        }
     }
     }
    }
    
  @media (max-width:500px) and (min-width:400px){
    .navbar{
        width:100%;
        position:sticky;
        top:0;

     .nav-logo{
        width:2em;
        margin-left:1em;
        
     }   
     .logo-head{
        font-size:14px;
        margin-left:-0.5em;
     }

     .nav-menu{
        display:none;
     }
     .button{
        margin-top:-3em;
        margin-left:-3em;
        position: relative;
        left:7em;
        top:1.5em;
        z-index:20;

     }
     .sign{
        width:max-content;
        font-size:14px;
     }
     .nav-logo-cart{
        margin-left:-7em;
        margin-top:-1em;
        position:relative;
        top:0.5em;

        .logo{
            width:2.5em;
        }
        .nav-cart-count{
            font-size:13px;
            color:#fff;
            position:relative;
            left:0em;
            top:-1em;
        }
        .circle{
        width:15px;
        margin-top:0.1em;
        position: relative;
        right:-16.45em;
        top:-28.4px;

        
        
        }
     }
     }
}