.navbar{
    display:flex;
    justify-content: space-around;
    padding: 16px;
    box-shadow:0 1px 3px -2px black;
    box-shadow: 0 1px 3px -2px black;
}
.nav-logo{
    display:flex;
    align-items: center;
    gap:10px;
}
.nav-logo p{
 color: #171717;
 font-size: 38px;
 font-weight: 600;
}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #626262;
    font-size: 20px;
    font-weight: 500;
}
.nav-menu li{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    font-family: monospace;
}



.nav-cart-count{
    width: 19px;
    height: 9px;
    display:flex;
    font-family: monospace;
    align-items: center;
    margin-top: -41px;
    margin-left: 300px;
    border-radius: 5px;
    font-size: 20px;
    position:relative;
    right:-27px;
    top:-5px;
    
    color:white; 
    z-index:1;
    font-size:14px;


}

.logo{
    position:relative;
    left:285px;
    top:8px;
    cursor:pointer;
    height:50px;
    width:50px;
    
}

.logo:hover{
    transform: scale(1.05);
    transition: all 0.3s;
     border-radius:15%;
     color: black;
}


li:hover{
    text-decoration: underline;
    transform:scale(1.1);
    transition: all 0.2s;
    color:#171717;

}
a{
    color:#7a7a7a
}
a:hover{
    color:#171717;
}

.button{
    width:0px;
    
    
    position:relative;
    top:18px;
    right:-90px;
    color:black; 
}
.sign{
    border-radius: 5px;
    width: 150px;
    height: 35px;
    padding:5px;
    font-size:20px;
    font-family:monospace;
}
.sign:hover{
    color:whitesmoke;
    background-color:#171717;
    transition: all 0.2s;
    transform:scale(1);
}
h4{
    position:relative;
    top:5px;
}
.circle{
    position:relative;
    right:-322px;
    top:-18px;
    font-size:18px;
}






