.sidebar {
  position: fixed;
  display:none;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  z-index: 10;
  transition: transform 0.3s ease;
  transform: translateX(-100%); // Hidden by default

  // Make the sidebar visible on small screens only (tablets and mobile devices)
  @media (max-width: 768px) {
      display: block; // Show on screens smaller than 768px
  }
}

.sidebar.open {
  transform: translateX(0); // Slide in when open
}

.toggle-btn {
  position: absolute;
  top: 10px;
  right: -60px;
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;

  // Show the toggle button only on small screens
  @media (max-width: 768px) {
      display: block; // Show on screens smaller than 768px
  }

  // Hide the toggle button on larger screens
  @media (max-width: 769px) {
      display: block; // Hide on screens wider than 768px
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.menu a {
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #444;
}
