/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color:  rgba(112, 101, 101, 0.45);
  backdrop-filter: blur(30px);
  color: white;
  z-index: 120;
  transition: transform 0.3s ease;
  transform: translateX(-100%); /* Hidden by default */
  display:none;
  visibility: hidden;
}
.Open-Menu{
  background-color: rgba(255, 253, 253, 0.473);
  backdrop-filter: blur(50px);
  position:relative;
  left:-0.5em;
}
.toggle-btn.outside{
  background-color: rgba(255, 253, 253, 0.473);
}

.sidebar.open {
  transform: translateX(0); 
  background-color:  rgba(7, 7, 7, 1.0);
  backdrop-filter: blur(30px);
  opacity:1;
}

.toggle-btn {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.toggle-btn.outside {
  position: fixed;
  top: 25px;
  left: 15px;
  width:1.5em;;
  height:1.8em;
  z-index: 11;
  color:black;
  font-size:24px; /* Ensure it's above the sidebar */
}

.toggle-btn.inside {
  position: absolute;
  top: 15px;
  right: 1em;

  .Close-Menu{
    position:relative;
    right:0;
    font-size:2em;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.menu a {
  padding: 10px;
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.menu a:hover {
  background-color: #444;
  border:2px solid black;
  color:black;
  background-color: aliceblue;

}


@media(max-width:400px){
  .sidebar{
    width:100vw;
    height:100vh;
    display:block;
    visibility:visible;
    .Close-Menu{
      margin-left:-16em;

    }
    .Open-Menu{
      display:none;
    }
    .menu{
      display:flex;
      flex-direction:column;
      align-items:center;
      margin-top:9em;
      gap:2em;

    }

    
  }
  .toggle-btn{
    display:block;
  }
  .toggle-btn.outside{
    margin-top:-0.5em;
    margin-left:-0.4em;
  }
  .toggle-btn.inside{
    position:relative;
    right:-12.5em;
    height:3.5em;
  }
  .Close-Menu{
    margin-right:-16em;
  }
}
@media(max-width:500px) and (min-width:400px){
  .sidebar{
    width:100vw;
    height:100vh;
    display:block;
    visibility:visible;
    .Close-Menu{
      margin-left:-16em;
    }
    .toggle-btn.inside{
      margin-left:1.5em;
    }
    .Open-Menu{
      display:none;
    }
    .menu{
      display:flex;
      flex-direction:column;
      align-items:center;
      margin-top:9em;
      gap:2em;

    }

    
  }
  .toggle-btn{
    display:block;
  }
  .toggle-btn.outside{
    margin-top:-0.5em;
    margin-left:-0.1em;
  }
  .toggle-btn.inside{
    position:relative;
    right:-12.5em;
    height:3.5em;
  }
  .Close-Menu{
    margin-right:-16em;
  }
}
@media (min-width:501px){
  .sidebar{
  display:none;
  visibility:hidden;
  }
}
