*{
    padding:0;
    margin:0;
}
body{
    font-family: monospace;
}
a{
    text-decoration: none;
    color:gray;  
}
a:active{
    transform: scale(1.3);
    color:#171717;
    text-decoration: underline gray;
    transition: all 0.2s;
}

    