#image{
    width:100px;
}
#star{
    width:10px;
}
#main{
    width:530px;
}
.productdisplay{
    display:flex;
    margin: 0px 170px;
}
.productdisplay-left{
    display:flex;
    gap: 17px;
}
.productdisplay-img-list{
    display:flex;
    flex-direction:column;
    gap:16px;
    position:relative;
    left:-90px;
}
.productdisplay-img-list img{
    height: 123px; 
}
.productdisplay-main-img{
    width:786px;
    height:550px;
    position:relative;
    left:-70px;
}
.productdisplay-right{
    margin:0px 70px;
    display: flex;
    flex-direction: column; 
}
.productdisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight:700;
}
.productdisplay-right-stars{
    display:flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productdisplay-right-prices{
    display:flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productdisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productdisplay-right-price-new{
    color: #ff4141;
}

.productdisplay-right button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background:#ff4141;
    margin-bottom: 40px;
    border:none;
    outline:none;
    cursor:pointer;
}
.productdisplay-right button:hover{
    background: #d70505;
    transition: 0.2s;
}
.productdisplay-right button:active{
    transform: scale(0.9);
    transition: 0.2s;
}
.productdisplay-right-category{
    margin-top: 10px;
}
.productdisplay-right-category span{
    font-weight:600;
}
@media(max-width:1280px){
    .productdisplay{
        margin:0px 60px;
    }
    .productdisplay-left{
        gap:10px;
    }
    .productdisplay-img-list img{
        height: 120px;
    }
    .productdisplay-main-img{
        width:auto;
        height: 510px;
    }
    .productdisplay-right{
        margin:0px 30px;
    }
    .productdisplay-right h1{
        font-size: 22px;
    }
    .productdisplay-right-stars{
        gap: 3px;
        font-size: 13px;
    }
    .productdisplay-right-prices{
         margin:10px 0px;
         font-size:18px;

    }
    .productdisplay-right-description{
        font-size:13px;
    }
    .productdisplay-right-size h1{
        margin-top:20px;
        font-size:20px;
    }
    .productdisplay-right-sizes div{
        padding: 14px 20px;
    }
    .productdisplay-right button{
        width:150px;
        padding:15px 0px;
        margin-bottom: 20px;
    }
    .productdisplay-right-category{
        margin-top:5px;
        font-size:14px;
    }
}
.productdisplay-right-size h1{
    margin-top:20px;
    color:#b6b4b4;
    font-size:12px;
    font-weight:600;

}
.productdisplay-right-size{
    display:flex;
    margin:30px 0px;
    gap:20px;
    padding:14px;
    color: gray;
}
.productdisplay-right-sizes div{
    padding: 18px 24px;
    background:#fbfbfb;
    border:1px solid #ebebeb;
    border-radius: 3px;
    cursor:pointer;
}
.size-option{
    padding:10px;
    border: 1px solid rgb(176, 174, 174);
    cursor:pointer;
     color:#3d3d3d
}
.size-option:hover{
    border: 1px solid rgb(194, 192, 192);
    transition: ease-in-out 0.1s;
}
.size-option.selected{
    border: 1px solid blue;
    background-color: lightblue;
    color:yellow;
    transform: scale(1.2);
    transition: all 0.1s;
}
@media(max-width:1024px){
    .productdisplay{
        margin:0px 30px;
    }
    .productdisplay-left{
        gap:5px;
    }
    .productdisplay-img-list img{
        height: 80px;
    }
    .productdisplay-main-img{
        height: 350px;
    }
    .productdisplay-right h1{
        font-size: 18px;
    }
    .productdisplay-right-stars img{
             width:15px
    }
    .productdisplay-right-description{
        font-size:12px;
    }
    .productdisplay-right-sizes{
        margin-top:10px 0px;
    }
    .productdisplay-right-sizes div{
        padding: 10px 16px;
        font-size:12px;
    }
    .productdisplay-right button{
        width:120px;
        padding:10px 0px;
        margin-bottom: 10px;
        font-size:14px;
    }
    .productdisplay-right-category{
        font-size:12px;
    }
}

@media(max-width:800px){
    .productdisplay{
        margin:0px 10px;
    }
    .productdisplay-left{
        gap:0px;
        flex-direction:column-reverse;
        align-items:center;
    }
    .productdisplay-img-list{
        flex-direction:row;
        gap:6px;
    }
    .productdisplay-img-list img{
        height:70px;
    }
    .productdisplay-main-img{
        height: 300px;
    }

    .productdisplay-right h1{
        font-size: 14px;
    }
    .productdisplay-right-stars img{
        width:13px
    }
    .productdisplay-right-description{
        font-size: 10px;
    }
    .productdisplay-right-size h1{
        margin-top:10px;
        gap: 5px;
    }
    .productdisplay-right-sizes{
        margin-top: 10px;
        gap: 5px;
    }
    

    .productdisplay-right-sizes div{
        padding: 4px 11px;
    }
    .productdisplay-right button{
        width:100px;
        padding:10px 0px;
        margin-bottom: 10px;
        font-size:12px;
    }
    .productdisplay-right-category{
        font-size:10px;
    }
}


@media(max-width:800px){
    .productdisplay{
        margin:0px 10px;
    }
    .productdisplay-left{
        gap:0px;
        flex-direction:column-reverse;
        align-items:center;
    }
    .productdisplay-img-list{
        flex-direction:row;
        gap:6px;
    }
    .productdisplay-img-list img{
        height:70px;
    }
    .productdisplay-main-img{
        height: 300px;
    }

    .productdisplay-right h1{
        font-size: 14px;
    }
    .productdisplay-right-stars img{
        width:13px
    }
    .productdisplay-right-description{
        font-size: 10px;
    }
    .productdisplay-right-size h1{
        margin-top:10px;
        gap: 5px;
    }
    .productdisplay-right-sizes{
        margin-top: 10px;
        gap: 5px;
        width:max-content;
        margin-left:2em;
    }
    

    .productdisplay-right-sizes div{
        padding: 4px 11px;
    }
    .productdisplay-right button{
        width:100px;
        padding:10px 0px;
        margin-bottom: 10px;
        font-size:12px;
    }
    .productdisplay-right-category{
        font-size:10px;
    }
}

@media (max-width:400px){
    .productdisplay{
        width:100%;
        display:flex;
        flex-direction:column;
        margin-left:-6em;
    }
    .productdisplay-left {
        gap:0px;
        flex-direction:column-reverse;
        width:100%;
        

    }
    .productdisplay-left img{
        width:max-content;
        margin-right:-24em;
    }
    #main{
        width:212px;
        margin-left:3.6em;
        height:35vh;
    }
    .productdisplay-img-list{
        display:none;
    }
    .productdisplay-img-list img{
        height:70px;
        width:2vw;
        position:relative;
        right:-8em;
    }
    .productdisplay-main-img{
        height:42vh;
        position:relative;
        margin-right:-20em;
        width:80%;
    }

    .productdisplay-right h1{
        font-size: 14px;
        position:relative;
        right:-6em;

    }
    .productdisplay-right-stars {
        width:13px;
        position:relative;
        right:-24em;
    }
    .productdisplay-right-prices{
        position: relative;
        right:-5.4em;
    }
    .productdisplay-right-price-new{
        position:relative;
        left:-1em;

    }

    .productdisplay-right-description{
        font-size: 10px;
        position:relative;
        right:-10em;

    }
    .productdisplay-right-size h1{
        margin-top:5px;
        gap: 5px;
        position:relative;
        margin-left:-3em;
        left:2.5em;
        
    }
    .productdisplay-right-sizes{
        margin-top: 10px;
        gap: 5px;
        position: relative;
        right:-4.5em;
    }
    

    .productdisplay-right-sizes div{
        padding: 4px 11px;
    }
    .productdisplay-right button{
        width:100px;
        padding:10px 0px;
        margin-bottom: 10px;
        font-size:12px;
    }
    .productdisplay-right-category{
        font-size:10px;
        margin-left:10.2em;
    }
    .cart{
        margin-left:8.5em;
    }
    .cart:hover{
        background-color:#593a3a;
        transition: 0.2s;
    }
}
@media (max-width:500px) and (min-width:400px){
    .productdisplay{
        width:100%;
        display:flex;
        flex-direction:column;
        margin-left:-6em;
    }
    .productdisplay-left {
        gap:0px;
        flex-direction:column-reverse;
        width:100%;
        

    }
    .productdisplay-left img{
        width:max-content;
        margin-right:-24em;
    }
    #main{
        width:265px;
        margin-left:2em;
        height:35vh;
    }
    .productdisplay-img-list{
        display:none;
    }
    .productdisplay-img-list img{
        height:70px;
        width:2vw;
        position:relative;
        right:-8em;
    }
    .productdisplay-main-img{
        height:42vh;
        position:relative;
        margin-right:-20em;
        width:80%;
    }

    .productdisplay-right h1{
        font-size: 14px;
        position:relative;
        right:-6em;

    }
    .productdisplay-right-stars {
        width:13px;
        position:relative;
        right:-24em;
    }
    .productdisplay-right-prices{
        position: relative;
        right:-5.4em;
    }
    .productdisplay-right-price-new{
        position:relative;
        left:-1em;

    }

    .productdisplay-right-description{
        font-size: 10px;
        position:relative;
        right:-10em;

    }
    .productdisplay-right-size h1{
        margin-top:2px;
        gap: 5px;
        position:relative;
        margin-left:-1em;
        left:0.5em;
        
    }
    .productdisplay-right-sizes{
        margin-top: 10px;
        gap: 5px;
        position:relative;
        right:-6em;
    }
    

    .productdisplay-right-sizes div{
        padding: 4px 11px;
    }
    .productdisplay-right button{
        width:100px;
        padding:10px 0px;
        margin-bottom: 10px;
        font-size:12px;
    }
    .productdisplay-right-category{
        font-size:10px;
        margin-left:10.2em;
    }
    .cart{
        margin-left:8.5em;
    }
}
